In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [7]:
import webbrowser
link = 'https://www.tiobe.com/tiobe-index/'
webbrowser.open(link)

True

In [10]:
df =pd.read_clipboard()
df

   Jul  2022   Jul.1    2021 Change Programming Language Ratings Change.1
0    1     3  change  Python   page      Python   13.44%  +2.48%     None
1    2     1  change       C   page           C   13.13%  +1.50%     None
2    3     2  change    Java   page        Java   11.59%  +0.40%     None
3    4     4     C++    page    C++      10.00%   +1.98%    None     None
4    5     5      C#    page     C#       5.65%   +0.82%    None     None
5    6     6  Visual   Basic   page      Visual    Basic   4.97%   +0.47%

In [12]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.columns

Index(['Jul', '2022', 'Jul.1', '2021', 'Change', 'Programming', 'Language',
       'Ratings', 'Change.1'],
      dtype='object')

In [16]:
df.Ratings

0    +2.48%
1    +1.50%
2    +0.40%
3      None
4      None
5     4.97%
Name: Ratings, dtype: object

In [19]:
df_new = DataFrame(df,columns=['Programming','Change'])
df_new

  Programming Change
0      Python   page
1           C   page
2        Java   page
3      10.00%    C++
4       5.65%     C#
5      Visual   page

In [21]:
df['Change']

0    page
1    page
2    page
3     C++
4      C#
5    page
Name: Change, dtype: object

In [22]:
type(df['Change'])

pandas.core.series.Series

In [25]:
df_new = DataFrame(df,columns=['Programming','Change','Time'])
df_new

  Programming Change  Time
0      Python   page   NaN
1           C   page   NaN
2        Java   page   NaN
3      10.00%    C++   NaN
4       5.65%     C#   NaN
5      Visual   page   NaN

In [34]:
df_new['Time'] = range(0,6)
df_new['Time'] = np.arange(0,6)
df_new['Time'] = pd.Series(np.arange(0,6))
df_new

  Programming Change  Time
0      Python   page     0
1           C   page     1
2        Java   page     2
3      10.00%    C++     3
4       5.65%     C#     4
5      Visual   page     5