In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [5]:
df1 = DataFrame({"City":["BJ","SH","GZ"],
                "Population":[1000,2000,1500]})
df1

  City  Population
0   BJ        1000
1   SH        2000
2   GZ        1500

In [8]:
df1['GDP']=Series([1000,2000,1500])
df1

  City  Population   GDP
0   BJ        1000  1000
1   SH        2000  2000
2   GZ        1500  1500

In [10]:
gdp_map = {'BJ':1000,'SH':2000,'GZ':1500}

In [13]:
df1['GDP1']=df1['City'].map(gdp_map)
df1
#不用管index， series的默认index是0 1 2 3

  City  Population   GDP  GDP1
0   BJ        1000  1000  1000
1   SH        2000  2000  2000
2   GZ        1500  1500  1500

In [15]:
s1 = Series(np.arange(10))
s1

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [17]:
s1.replace(1,np.nan)

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [19]:
s1.replace({1:np.nan})

0    0.0
1    NaN
2    2.0
3    3.0
4    4.0
5    5.0
6    6.0
7    7.0
8    8.0
9    9.0
dtype: float64

In [ ]:
s1.replace({1:np.nan})