In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
s1 = Series(np.random.randn(6),index=[['1','1','1','2','2','2'],['a','b','c','a','b','c']])
s1

1  a   -0.405613
   b    0.066278
   c   -1.053375
2  a   -0.582501
   b   -0.233907
   c    1.030419
dtype: float64

In [7]:
s1['1']
s1['1']['a']

-0.4056130656131345

In [8]:
s1[:,'a']

1   -0.405613
2   -0.582501
dtype: float64

In [10]:
df1 =s1.unstack()
df1

          a         b         c
1 -0.405613  0.066278 -1.053375
2 -0.582501 -0.233907  1.030419

In [13]:
df2 =DataFrame([s1['1'],s1['2']])
df2

          a         b         c
0 -0.405613  0.066278 -1.053375
1 -0.582501 -0.233907  1.030419

In [16]:
s2 = df1.unstack()
s2

a  1   -0.405613
   2   -0.582501
b  1    0.066278
   2   -0.233907
c  1   -1.053375
   2    1.030419
dtype: float64

In [18]:
s2 = df1.T.unstack()
s2

1  a   -0.405613
   b    0.066278
   c   -1.053375
2  a   -0.582501
   b   -0.233907
   c    1.030419
dtype: float64

In [27]:
df = DataFrame(np.arange(16).reshape\
               (4,4),index=[['a','a','b','b'],[1,2,1,2]],columns=[['BJ','BJ','SH','GZ'],[8,9,8,8]])
df

     BJ      SH  GZ
      8   9   8   8
a 1   0   1   2   3
  2   4   5   6   7
b 1   8   9  10  11
  2  12  13  14  15

In [29]:
df['BJ']

      8   9
a 1   0   1
  2   4   5
b 1   8   9
  2  12  13