In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
s1 = Series([1,2,3],index=['A','B','C'])
s2 = Series([4,5,6,7],index=['B','C','D','E'])

In [5]:
s1

A    1
B    2
C    3
dtype: int64

In [7]:
s2

B    4
C    5
D    6
E    7
dtype: int64

In [9]:
s1 + s2
#对应index的值

A    NaN
B    6.0
C    8.0
D    NaN
E    NaN
dtype: float64

In [18]:
df1 = DataFrame(np.arange(4).reshape(2,2),index=['A','B'],columns=['BJ','SH'])
df1

   BJ  SH
A   0   1
B   2   3

In [19]:
df2 = DataFrame(np.arange(9).reshape(3,3),index=['A','B','C'],columns=['BJ','SH','GZ'])
df2

   BJ  SH  GZ
A   0   1   2
B   3   4   5
C   6   7   8

In [21]:
df1 + df2

    BJ  GZ   SH
A  0.0 NaN  2.0
B  5.0 NaN  7.0
C  NaN NaN  NaN

In [24]:
df2.sum() #col

BJ     9
SH    12
GZ    15
dtype: int64

In [26]:
df2.sum(axis=1) #row

A     3
B    12
C    21
dtype: int64

In [29]:
df2.min()

BJ    0
SH    1
GZ    2
dtype: int64

In [31]:
df2.describe()

        BJ   SH   GZ
count  3.0  3.0  3.0
mean   3.0  4.0  5.0
std    3.0  3.0  3.0
min    0.0  1.0  2.0
25%    1.5  2.5  3.5
50%    3.0  4.0  5.0
75%    4.5  5.5  6.5
max    6.0  7.0  8.0