In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
s1 = Series(np.random.randn(10))

In [4]:
s1

0   -1.189901
1   -0.970293
2    1.801014
3    0.177891
4   -0.995388
5    1.209244
6    1.925851
7   -1.179320
8    1.105114
9    0.369032
dtype: float64

In [6]:
s1.values

array([-1.18990112, -0.97029253,  1.80101409,  0.1778909 , -0.99538779,
        1.20924378,  1.92585118, -1.17932011,  1.10511383,  0.36903177])

In [8]:
s1.index

RangeIndex(start=0, stop=10, step=1)

In [11]:
s2=s1.sort_values(ascending=False)
s2

6    1.925851
2    1.801014
5    1.209244
8    1.105114
9    0.369032
3    0.177891
1   -0.970293
4   -0.995388
7   -1.179320
0   -1.189901
dtype: float64

In [13]:
 s2.sort_index()

0   -1.189901
1   -0.970293
2    1.801014
3    0.177891
4   -0.995388
5    1.209244
6    1.925851
7   -1.179320
8    1.105114
9    0.369032
dtype: float64

In [16]:
df1 = DataFrame(np.random.randn(40).reshape(8,5), columns=['A','B','C','D','E'])
df1

          A         B         C         D         E
0 -0.217068 -0.753729  0.655203  1.592767 -0.282949
1 -0.063915  1.121542 -0.417701 -2.109527 -1.695739
2 -1.135662  0.641294  0.583051  0.828972 -0.545133
3  1.006897 -0.623046 -1.243858 -1.097491 -0.474301
4  0.479933  0.231848  0.427303  2.087228 -0.605872
5  0.973310 -0.665643 -0.329354 -0.978035 -1.331660
6 -0.861264 -0.644543  1.212220 -0.063107  0.332678
7 -0.366916 -0.361008  2.137052 -0.076110  1.494366

In [18]:
df1['A'].sort_values()

2   -1.135662
6   -0.861264
7   -0.366916
0   -0.217068
1   -0.063915
4    0.479933
5    0.973310
3    1.006897
Name: A, dtype: float64

In [21]:
df2 = df1.sort_values('A')
df2

          A         B         C         D         E
2 -1.135662  0.641294  0.583051  0.828972 -0.545133
6 -0.861264 -0.644543  1.212220 -0.063107  0.332678
7 -0.366916 -0.361008  2.137052 -0.076110  1.494366
0 -0.217068 -0.753729  0.655203  1.592767 -0.282949
1 -0.063915  1.121542 -0.417701 -2.109527 -1.695739
4  0.479933  0.231848  0.427303  2.087228 -0.605872
5  0.973310 -0.665643 -0.329354 -0.978035 -1.331660
3  1.006897 -0.623046 -1.243858 -1.097491 -0.474301