In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
from datetime import datetime

In [4]:
t1 = datetime(2009,10,20)
t1

datetime.datetime(2009, 10, 20, 0, 0)

In [6]:
date_list = [
    datetime(2016,9,1),
    datetime(2016,9,10),
    datetime(2017,9,1),
    datetime(2017,9,20),
    datetime(2017,10,1)
]
date_list

[datetime.datetime(2016, 9, 1, 0, 0),
 datetime.datetime(2016, 9, 10, 0, 0),
 datetime.datetime(2017, 9, 1, 0, 0),
 datetime.datetime(2017, 9, 20, 0, 0),
 datetime.datetime(2017, 10, 1, 0, 0)]

In [7]:
s1 = Series(np.random.rand(5), index=date_list)
s1

2016-09-01    0.356770
2016-09-10    0.009961
2017-09-01    0.787618
2017-09-20    0.760282
2017-10-01    0.213490
dtype: float64

In [8]:
s1.values

array([0.35677031, 0.00996064, 0.78761842, 0.7602824 , 0.21349017])

In [9]:
s1.index

DatetimeIndex(['2016-09-01', '2016-09-10', '2017-09-01', '2017-09-20',
               '2017-10-01'],
              dtype='datetime64[ns]', freq=None)

In [11]:
s1[1], s1[datetime(2016,9,10)], s1['2016-9-10'], s1['20160910'],

(0.00996064174495559,
 0.00996064174495559,
 0.00996064174495559,
 0.00996064174495559)

In [12]:
s1['2017-09']

2017-09-01    0.787618
2017-09-20    0.760282
dtype: float64

In [14]:
s1['2016'],s1['2017']

(2016-09-01    0.356770
 2016-09-10    0.009961
 dtype: float64,
 2017-09-01    0.787618
 2017-09-20    0.760282
 2017-10-01    0.213490
 dtype: float64)

In [15]:
date_list_new = pd.date_range('2016-01-01', periods=100, freq='5H')

In [16]:
s2 = Series(np.random.rand(100), index=date_list_new)

In [17]:
s2

2016-01-01 00:00:00    0.661388
2016-01-01 05:00:00    0.720229
2016-01-01 10:00:00    0.403916
2016-01-01 15:00:00    0.541366
2016-01-01 20:00:00    0.013478
                         ...
2016-01-20 19:00:00    0.726037
2016-01-21 00:00:00    0.457624
2016-01-21 05:00:00    0.085256
2016-01-21 10:00:00    0.264920
2016-01-21 15:00:00    0.389074
Freq: 5H, Length: 100, dtype: float64