In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
score_list = np.random.randint(25, 100, size=20)
score_list

array([64, 93, 31, 42, 78, 44, 49, 45, 38, 40, 81, 55, 86, 58, 78, 77, 66,
       37, 56, 70])

In [4]:
bins = [0,59,70,80,100]

In [5]:
score_cat = pd.cut(score_list, bins)
pd.value_counts(score_cat)

(0, 59]      11
(59, 70]      3
(70, 80]      3
(80, 100]     3
dtype: int64

In [6]:
df = DataFrame()

df['score'] = score_list
df['student'] = [pd.util.testing.rands(3) for i in range(20)]

df['Categories'] = pd.cut(df['score'],bins, labels=['Low','OK','Good','Great'])
df

/Users/shijie/opt/anaconda3/lib/python3.8/site-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

    score student Categories
0      64     I4Y         OK
1      93     ohB      Great
2      31     gMb        Low
3      42     Px2        Low
4      78     uxi       Good
5      44     4H2        Low
6      49     Wux        Low
7      45     XBp        Low
8      38     rEh        Low
9      40     lze        Low
10     81     7lz      Great
11     55     OF6        Low
12     86     aIl      Great
13     58     sAA        Low
14     78     VkZ       Good
15     77     B1G       Good
16     66     VAb         OK
17     37     sX4        Low
18     56     8iO        Low
19     70     n99         OK